@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/*--------------------------------------------Colors*/
.bg-color{
    background-color: #ffffff;
}
.ui-menu-color-home{
    background-color: #7B9AB9;
}

.ui-menu-color-medical{
    background-color: #F4ABC7;
}

.ui-menu-color-social{
    background-color: #8AB69E;
}

.ui-menu-color-activity{
    background-color: #F25637;
}

ft-color{
    background-color: #547864;
}
/*--------------------------------------------Heading*/
header{
    margin: 0;
}

.website-name{
    font-family: "exo", sans-serif;
    font-size: 10vw;
    color: #547864;
    text-align: center;
    text-decoration: "none";
    padding: 15px;
}
.logo{
    background:url("../images/cccover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 33.33vh;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}
.subpage-name{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
} 
.name:hover{
    text-decoration:none;
}

.logo-med-pg{
    background: url("../images/logo-med-pg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 180px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}

h1{
    padding-top: 50px;
    font-family: "exo", sans-serif;
    font-size: 10vw;
    color: #547864;
    text-align: center;
}



/*--------------------------------------------Navbar*/
.list-inline-item:not(:last-child){
    margin: 0;
}

.menu-container {
    font-size: 0;
    margin:0;
    min-height:120px;
}
#nav{
    margin: 0;
}

#nav li {
    font-size: 28px;
    padding: 0;
}

.menuitem{
    min-height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a{
    width:100%;
    text-decoration: none;
    color: #fff;
}
.menuitem a i{
    color: #fff;
    font-size: 40px;
    display: block;
    padding-top: 22px;
}

.menuitem span{
    display: block;
    width: 100%;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: "exo",sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
}
/*-------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: rgba(25, 29, 50, 0.2);
    height: 120px;
}

/*--------------------------------------------Special paddings/margins/text*/
h1,h2,h3,h4,h5{
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "exo",sans-serif;
    font-weight: 300;
    color: #ffffff;
}

#common-symptoms li{
    font-family: "exo", sans-serif;
    font-size:30px;
    color: #ffffff

}
#less-common-symptoms li{
    font-family: "exo", sans-serif;
    font-size:20px;
    color: #ffffff
}
/*--------------------------------------------Medical Info Page*/
.page-heading{
    font-family: "exo", sans-serif;
    color: #547864;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    font-size: 60px;
}
.page-subheading{
    font-family: "exo", sans-serif;
    color: #696969;
    font-size: 40px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.less-com{
    padding-top: 80px;
}

.symptom-text{
    color: #000000;
    font-size: 20px;
    display: block;
    padding-top: 22px;
    text-align: center;
}

#common-symptoms span i{
    color: #F4ABC7;
    font-size: 100px;
    display: block;
    padding-top: 22px;
    text-align: center;
}    

.page-content{
    font-family: "exo", sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 10px;
}
.space{
    padding-top: 10px;
}
h5{
    font-weight: 500;
}
/*--------------------------------------------Social Pages*/

#social-links a i{
    color: #8AB69E;
    font-size: 100px;
    display: block;
    padding-top: 22px;
    text-align: center;
}
#social-links a span{
    color: #000000;
    font-size: 20px;
    display: block;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 40px;
}
    


/*--------------------------------------------Useful Info Page*/
.ci-logo{
    background: url("../images/ci-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}
.hse-logo{
    background: url("../images/hse-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}
.alone-logo{
    background: url("../images/alone-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}
.age-logo{
    background: url("../images/age-logo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}
.friends-logo{
    background: url("../images/friends-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}
.rte-logo{
    background: url("../images/rte-logo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}
.vm-logo{
    background: url("../images/vm-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}
.ifi-logo{
    background: url("../images/ifi-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}

#ww-links a i{
    color: #F25637;
    font-size: 80px;
    display: block;
    text-align: center;
}
#ww-links a span{
    color: #000000;
    font-size: 20px;
    display: block;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 30px;
}

.hi-logo{
    background: url("../images/hi-logo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out; 
    -webkit-transition: all .5s ease-in-out;
}

/*--------------------------------------------footer*/
footer{
    background-color: #547864;
    color: #ffffff;
    min-height: 120px;
    font-family: "exo", sans-serif;
    padding: 20px;
}

.social-list i{
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-list i:hover{
    color:rgb(160, 158, 158);
}
.bold{
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

/*--------------------------------------------media query*/
